<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <title>DCS</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      {% block content %}
      <br />
      <h1>DCS</h1>
      <br />
      <a href="/addcustomer">
        <button type="button" class="btn btn-outline-dark">Add Customer</button>
      </a>
      <br /><br />
      <a href="/updatecustomer">
        <button type="button" class="btn btn-outline-dark">
          Update Customer
        </button>
      </a>
      <br /><br />
      <a href="/deletecustomer">
        <button type="button" class="btn btn-outline-dark">
          Delete Customer
        </button>
      </a>
      <br /><br />
      <a href="/getcustomer">
        <button type="button" class="btn btn-outline-dark">Get Customer</button>
      </a>
      {% endblock %}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
